/* Imports */
@import url(http://fonts.googleapis.com/css?family=Paytone+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600);

/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
}

body {
    font-size: 100%;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Colors

Austin Power - https://kuler.adobe.com/Austin-Power-color-theme-3156071/
#60A9DC - blue light, havelock
#7FC3F4 - blue lighter, malibu
#6D7275 - grey dark, nevada
#A4A6A5 - grey, edward
#ED4511 - red, pomegranate

Variants
#C7C8C8 - grey light, silver-sand
#C6C8C7 - grey light, pumice
#F48460 - red light, sandy
#ABD8F8 - blue lightest, sail
*/

/* Page Setup */
html, body {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background: #ffffff;
}

/* Shared Classes */
.text-centered {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

.text-nevada {
    color: #6D7275;
}

.text-stroked-black {
    text-shadow:
        3px 3px 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

/* Typography */
h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5em;
}

h3, p, div, a, li {
    font-family: 'Open Sans', sans-serif;
}

/* Layout */
header {
    margin: 4px;
    padding: 10px 30px;
    border-radius: 4px;
    background: rgba(255,255,255,0.8);
}

/* Theme */
#boxes {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#content-wrapper {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    overflow: hidden;
}

.image-block {
    display: inline-block;
    overflow: hidden;
    width: 18.5%;
    padding: 0.5%;
}

.image-block:nth-last-child(1) {
    position: absolute;
    right: 0.5%;
}

.image-block img {
    display: block;
    width: 100%;
}